@font-face {
    font-family: "Bariol";
    src: url("fonts/28\ -\ bariolbold.ttf");
}

@font-face {
    font-family: "bariolthin";
    src: url("fonts/28\ -\ bariolthin1.ttf");
}

@font-face {
    font-family: "Cooper";
    src: url("fonts/28\ -\ cooperm.ttf");
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(#FFFFFF, #B34EF6);
    min-height: 100vh;
}
/* Header */

h1 {
    float: left;
    margin-left: 15px;
    font-family: Bariol;
    /* clear: both; */
}

nav {
    float: right;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-family: bariolthin;
}

nav ul li a {
    text-decoration: none;
}
nav ul li a:visited {
    color: black;
}
nav ul li a:hover {
    color: plum;
}
h1 a{
    text-decoration: none;
}

h1 a:visited {
    color: black;
}
h1 a:hover {
    color: plum;
}

/* Main Principal */

main {
    clear: both;
    margin-left: 15px;
}


main h3{
    padding-top: 90px;
    font-size: 60px;
    font-family: Cooper;
}

/* Style du SVG */

svg {
    width: 80%;
    height: 80%;
}

.svg {
    margin-left: 500px;
    margin-top:  -150px;
}

#skate {
    animation-name: skate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes skate {
    0% {
        transform: rotateY(0deg);
    } 50% {
        transform: rotateY(25deg);
    } 100% {
        transform: rotateY(0deg);
    }
}


/* DIV APPLY */

.apply {
    clear: both;
    padding: 20px;
    padding-top: 70px;
    text-align: center;
    font-family: Cooper;
}

/* Barbecu SVG  */

.svg-barbecue {
    width: 30%;
    height: 30%;
}

.svg-barbecue svg {
    margin-left: 100px;
}

#fume {
    animation-name: fumee;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes fumee{
    0%{
        opacity: 0;
    
    } 25% {
        opacity: 0.5;
    }50% { 
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}

/* ABOUT */

.about {
    clear: both;
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    font-family: Cooper;
}

.about-svg svg {
    width: 50%;
    height: 50%;
}

.about-svg {
    margin-left: 40px;
}

#coeurs {
    animation-name: coeurs;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes coeurs{
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
        transform: rotateY(20deg);

    }

    75% {
        opacity: 1;
        transform: rotateY(30deg);
    }
    90% {
        opacity: 0.5;
        transform: rotateY(10deg);
    }
    100% {
        opacity: 0;
    }
}

#artifice {
    animation-name: artifice;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes artifice{
    from {
        transform: rotateZ(0deg);
    } 
    to {
        transform: rotateZ(360deg);
    }
}

/* Place */

.places {
    clear: both;
    margin-left: 35%;
    font-family: Cooper;
    padding-top: 30px;
}

.place-svg svg {
    width: 40%;
    height: 40%;
}

.place-svg {
    margin-left: 40px ;
}